.views-exposed-form .views-exposed-widget {
    float: left;
    /* LTR */
    padding: .5em 1em 0 0;
    /* LTR */
    max-width: 30%;
}

.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.6em;
}

.views-exposed-form .form-item,
.views-exposed-form .form-submit {
    margin-top: 0;
    margin-bottom: 0;
}

.views-exposed-form label {
    font-weight: bold;
}

.views-exposed-widgets {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .5em;
}

.views-widget-filter-field_phone_no_single_value {
    max-width: 200px !important;
}


/* table style column align */

.views-align-left {
    text-align: left;
}

.views-align-right {
    text-align: right;
}

.views-align-center {
    text-align: center;
}


/* Remove the border on tbody that system puts in */

.views-view-grid tbody {
    border-top: none;
}

.view .progress-disabled {
    float: none;
}